{% extends 'list_base.html' %}
{% load staticfiles %}
{% block  title %}公开课评论页面 - 名校在线网{% endblock %}
{% block content %}
 <div id="main">
    <div class="course-infos">
        <div class="w pr">
            <div style="height: 15px" class="path">
            </div>
            <style type="text/css">
                #course_name{
                    color: cadetblue;
                }
                #course_name:hover{
                    color: lightcyan;
                }
            </style>
            <div class="hd">
                <h2 class="l">&nbsp;&nbsp;<a id="course_name" href="{% url 'course:course_detail' this_course.id %}">{{ this_course.name }}</a></h2>
            </div>
            <div class="statics clearfix">
                <div class="static-item ">
                    <span class="meta">难度</span>
                    <span class="meta-value"><strong>{{ this_course.get_degree_display }}</strong></span>
                    <em></em>
                </div>
                <div class="static-item static-time">
                    <span class="meta">时长</span>
                    <span class="meta-value">{{ this_course.learn_time }}</span>
                    <em></em>
                </div>
                <div class="static-item">
                    <span class="meta">学习人数</span>
                    <span class="meta-value"><strong>{{ this_course.students }}</strong></span>
                    <em></em>
                </div>
            </div>
        </div>
    </div>
    <div class="course-info-main clearfix w has-progress">

        <div class="info-bar clearfix">
            <div class="content-wrap clearfix">
                <div class="content">
                    <div class="mod-tab-menu">
                        <ul class="course-menu clearfix">
                            <li><a class="ui-tabs-active " id="learnOn"  href="{% url 'course:course_video' this_course.id %}"><span>章节</span></a></li>
                            <li><a id="commentOn" class="active"><span>评论</span></a></li>
                        </ul>
                    </div>

                    <!--发布评论-->
                    <div id="js-pub-container" class="issques clearfix js-form">
                        <div class="wgt-ipt-wrap pub-editor-wrap " id="js-pl-input-fake">
                            <textarea id="comment_text"></textarea>
                        </div>
                        <input type="button" id="comment_btn" class="pub-btn" data-cid="452" value="发表评论">
                        <p class="global-errortip js-global-error"></p>
                    </div>
                    <div id="course_note">
                        <ul class="mod-post" id="comment-list">
                            {% for cm in all_comment %}
                            <li class="post-row">
                                <div class="media">
                                    <span target="_blank"><img src='{{ MEDIA_URL }}{{ cm.user.image }}' width='40' height='40' /></span>
                                </div>
                                <div class="bd">
                                    <div class="tit">
                                        <span target="_blank">{{ cm.user.nick_name }} 说：</span>
                                    </div>
                                    <p class="cnt">{{ cm.comment }}</p>
                                    <div class="footer clearfix">
                                        <span title="创建时间" class="l timeago">{{ cm.add_time }}</span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="aside r">
                    <div class="bd">

                        <div class="box mb40">
                        <h4>资料下载</h4>
                        <ul class="downlist">

                            <li>
                                <span ><i class="aui-iconfont aui-icon-file"></i>&nbsp;&nbsp;前端页面</span>
                                <a href="../media/course/resource/2016/11/media.zip" class="downcode" target="_blank" download="" data-id="274" title="">下载</a>
                            </li>

                        </ul>
                    </div>
                        <div class="box mb40">
                                        <h4>讲师提示</h4>
                        <div class="teacher-info">
                            <a href="{% url 'org:teacher_detail' course_teacher.id %}" target="_blank">
                            <img src='{{ MEDIA_URL }}{{ course_teacher.photo }}' width='80' height='80' />
                            </a>
                    <span class="tit">
                        <a href="{% url 'org:teacher_detail' course_teacher.id %}" target="_blank">{{ course_teacher }}</a>
                    </span>
                    <span class="job">{{ course_teacher.work_position }}</span>
                    </div>
                        <div class="course-info-tip">
                            <dl class="first">
                                <dt>课程须知</dt>
                                <dd class="autowrap">零基础即可参加课程</dd>
                            </dl>
                            <dl>
                                <dt>老师告诉你能学到什么？</dt>
                                <dd class="autowrap">{{ this_course.name }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="cp-other-learned  js-comp-tabs">
                            <div class="cp-header clearfix">
                                <h2 class="cp-tit l">该课的同学还学过</h2>
                            </div>
                            <div class="cp-body">
                                <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="course" style="display: block">
                                    <!-- img 200 x 112 -->
                                    <ul class="other-list">

                                        <li class="curr">
                                            <a href="{% url 'course:course_detail' recommend_course.id %}" target="_blank">
                                                <img src="{{ MEDIA_URL }}{{ recommend_course.course.image }}" alt="{{ recommend_course.course.name }}">
                                                <span class="name autowrap">{{ recommend_course.course.name }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>
<script type="text/javascript">
      // comment_text,comment_btn
    $(document).ready(function(){
        $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
                });
      $("#comment_btn").click(function(){
        var text= $("#comment_text").val();
        if(text == ""){
            alert("评论不能为空");
            return
        }
        $.post("{% url 'course:add_comment' %}",{'text':text,'course_id':{{this_course.id}} }, function(ret){
            window.location.reload();
        })
      });
    });
</script>

{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/learn-less.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/course-comment.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/common-less.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/common-less.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}" />
{% endblock %}
